@model InstrumentoMusical

<h1>CargarRegistros</h1>

<h3>Vista para cargar los registros</h3>
<div>
    <h4>Instrumentos</h4>


    <form asp-action="CargarRegistros" method="post">
        <input type="submit" value="CargarRegistros" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
